#footer {
  display: inline-block;
  justify-content: space-between;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
}

#copyright {
  float: left;
}

#footer-nav {
  justify-self: center;
}

#footer-nav-list {
  display: flex;
}

.footer-nav-item {
  margin: 5px;
}

#language-select {
  float: right;
}