#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;

  width: 100%;
}

#copyright {
  float: left;
}

#footer-nav {
  justify-self: center;
}

#footer-nav-list {
  display: flex;
}

.footer-nav-item {
  margin: 5px;
}

#language-select {
  float: right;
}