.holiday-deals {
  background-image: url('../../assets/holiday-deal-splash.png');
  background-position: center;
  background-size: auto 100%;
  display: flex;
  flex-direction: column;
  width: 33%;
  border: 1px solid red;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.holiday-deal-copy {
  margin: 10px;
  font-size: 28px;
}

.holiday-deal-button {
  border-radius: 15px;
    color: #fff;
    background-color: #438AB2;
    font-size: 28px;
}